.App
  pointer-events none

  position absolute
  top 0
  width 100%
  height 100%

  text-align center
  color white

  display flex
  flex-direction column

  font-size 1.8em

  h1
    font-size 1.2em
