/* stylelint-disable */
text-stroke(width, color)
  text-shadow:
    0 0 width color,
    0 0 width color,
    0 0 width color,
    0 0 width color,
    0 0 width color,
    0 0 width color,
    0 0 width color,
    0 0 width color,
    0 0 width color;
/* stylelint-enable */

.River
  width 100%
  height 100%

  position relative
  overflow hidden

  text-stroke 1px #000
  font-size 1.4em
